.during-work {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  background-color: bisque;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
}

.clock {
  position: relative;
  height: 60%;
  aspect-ratio: 1/1;
  margin: auto;
  box-sizing: border-box;

  background-color: rgb(39, 58, 74);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.timer {
  position: absolute;
  margin: auto;
  color: rgb(255, 255, 255);
  font-size: 33px;
  font-family: arial, sans-serif;
}

#work-break-button {
  width: 100px;
  height: 20%;
  margin: auto;
}

