@import "during_work.css";
@import "before_work.css";
@import "after_work.css";

body {
  width: 300px;
  height: 340px;
  font-family: 'Helvetica Neue', sans-serif;
  background: #D8E1E0;
}

.screen {
  display: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: 0; left: 0;
}

.screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}