@import "during_work.css";
@import "before_work.css";
@import "after_work.css";

html {
  width: 250px;
  height: 290px;
}

.screen {
  display: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: 0; left: 0;
}

.screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}